.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  .product-item img {
    width: 100%;
    .product-info {
      display: flex;
      justify-content: space-between;
    }
  }
  .product-item:nth-of-type(7n + 1) {
    grid-column: 1/4;
  }
}
