/* 
##################################
        GENERAL
##################################
*/

@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colordarkblue: #323a45;
  --colorgrey: #848484;
  --colorlightgrey: #cecece;
  --colorwhite: #fff;
  --colorblack: #000;
}

html {
  font-size: 62.5%;
  width: 80%;
  margin: 0 auto;
}

body {
  max-width: 1440px;
  margin: 5% auto 0 auto;
  font-family: "Karla", sans-serif;

  img {
    max-width: 100%;
  }

  h1 {
    color: var(--colordarkblue);
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--colordarkblue);
  }

  .company {
    color: var(--colorgrey);
  }
}

@media only screen and (max-width: 1200px) {
  header nav div {
    flex-direction: column;
    text-align: right;
  }
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .product-item {
    display: flex;
    flex-direction: column;
  }
}
